#rec849429201 {
    padding-top: 45px !important;
    padding-bottom: 90px !important;
}

.t-rec_pt_135 {
    padding-top: 90px;
}

.t-rec_pb_135 {
    padding-bottom: 90px;
}

#rec849429199 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

@media screen and (max-width: 480px) {
    #rec849429199 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}
